:root {
  --bg-primary-verydark:#0F0C07;
  --bg-primary-verywhite: white;
  --bg-primary-midwhite: #c8c7c7;
  --bg-primary-dark: #3D2614;
  --bg-primary-middle: #4f311a;
  --bg-primary-light: #9f5e25;
  --bg-primary-light-2: #AA367C;
  --bg-primary-dark-2: #201357;
  --bg-primary-light-transparent: rgba(159, 94, 37, 0.7);
  --bg-primary-dark-transparent: rgba(159, 94, 37, 0.9);

  --clr-txt-veryblack: #000;
  --clr-txt-midblack: #212020;
  --clr-txt-verywhite: #fff;
  --clr-txt-midwhite: #c8c7c7;

  --clr-book-green: #057E1C;
  --clr-book-brown: #9A6A10;
  --clr-book-blue: #0078D7;
  --clr-book-lightblue: #72f8f6;
  --clr-book-lightgreen: #aff14d;
  --clr-book-yellow: #e5f964;
  --clr-book-red: #c00b0b;

  --clr-gradient-blue-yellow : linear-gradient(to right, rgba(252, 224, 85, 0.9) 0%, rgba(37, 110, 255, 0.9));
  /* linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)) */
  --clr-bg-white: #ffffff;
  --clr-bg-lightgray: #f5f5f5;
  --clr-bg-pastelblue: #bad9e3;
  --clr-bg-pastelgreen:  #ecf6f9;;
  --clr-bg-pastelightgreen: #d6ecf3;
  --clr-bg-pastelpink: #ffdab9;
  --clr-bg-lightblue: ''#87CEEB;
  --clr-bg-windowsBlue: #0078D7;
  --clr-bg-lightgray2: #d3d3d3;
  --clr-bg-beige: #ebf5dc;
  --clr-bg-systemdefault: /* Use the default background colors */;
  --clr-bg-brand: /* Replace with your brand color */;
  --clr-bg-main-test: linear-gradient(to right, #7a0202, #f55f5f, #6a0418);
  --clr-bg-main-dark: linear-gradient(to right, #76fe60, #97ff60, #76fe60);
  --clr-bg-main-light: linear-gradient(to right, #8ef77e, #c5f3ad, #8ef77e);
  --clr-bg-main-light-2: linear-gradient(to right, #a2f895, #c5f3ad, #c8fbc1);

  --clr-btn-primary: #007bff;
      /* Blue for primary actions */
  --clr-btn-primary-hover: #0056b3;
  --clr-btn-success: linear-gradient(90deg, #218838, #28A745);     /* Green for success or positive actions */
  --clr-btn-warning: linear-gradient(90deg, #FFD42A, #FFC107);     /* Yellow for warnings or alerts */
  --clr-btn-danger: linear-gradient(90deg, #C82333, #DC3545);      /* Red for critical actions or errors */
  --clr-btn-default: #F8F9FA;                                     /* Default background color for buttons */
  --clr-btn-info: linear-gradient(90deg, #138496, #17A2B8);        /* Blue for informational actions */
  --clr-btn-secondary: linear-gradient(90deg, #5A6268, #6C757D);   /* Secondary or muted button color */
  --clr-btn-light: #F8F9FA;                                        /* Light background color for buttons */
  --clr-btn-dark: linear-gradient(90deg, #23272b, #343A40);        /* Dark background color for buttons */

  --txt-primary-clr:  #d5823a;

  --txt-size-extra-large: 4rem;
  --txt-size-midium-large: 3rem;
  --txt-size-large: 2.5rem;

  --border-size: 3px;
  --border-style: solid;

  --clr-notification-info: #0dccf2;
  --clr-notification-success: green;
  --clr-notification-alert: red;

  --gradiant-button-color: linear-gradient(to right, #45B649, #DCE35B);
  --gradiant-button-color-webkit: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  --gradiant-color-blue-webkit: linear-gradient(to right, #a8e063, #56ab2f);
  --gradiant-color-green-webkit:  -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  --gradiant-color-green: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --gradient-clr-grey-webkit: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  --gradient-clr-grey-normal: linear-gradient(to right, #E9E4F0, #D3CCE3);

  --clr-bg-one: drop-shadow(0 0 0.75rem rgb(129, 85, 3));
  --clr-bg-two: drop-shadow(0 1rem 0.75rem rgb(236, 181, 78));
}